.add-recipe-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #f1eeee;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(172, 161, 161, 0.1);
  text-align: center;
}

.add-recipe-container h2 {
  color: #000000; /* This color seems to be a light color, consider changing it to a darker color for better visibility */
  margin-bottom: 20px;
  font-size: 24px;
}

.add-recipe-container form {
  display: flex;
  flex-direction: column;
}

.add-recipe-container input,
.add-recipe-container textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #111111;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.add-recipe-container input:focus,
.add-recipe-container textarea:focus {
  border-color: #ff9800;
  box-shadow: 0px 0px 5px rgba(255, 152, 0, 0.5);
}

.add-recipe-container textarea {
  height: 100px;
  resize: none;
}

.add-recipe-container button {
  background: #3700ff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.add-recipe-container button:hover {
  background: #5100e6;
}

/* New class for the "No recipes found" message */
.no-recipe-message {
  color: white; /* Change text color to white */
  text-align: center; /* Center the message */
  margin: 20px 0; /* Add some margin for spacing */
  font-size: 1.2em; /* Increase font size for visibility */
}

@media (max-width: 600px) {
  .add-recipe-container {
      width: 90%;
      padding: 15px;
  }
}